{% extends 'base.html' %}
{% from "macros.html" import format_user %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div></div>
      </header>
      <div>
      <ol>
      {% for user in users %}
        <li>{{ format_user(user) }}</li>
      {% endfor %}
      </ol>
    </div>

    </article>
{% endblock %}
