{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}



  {% block content %}

  Request your access code <a href={{ message_url }} target="_blank"> here</a> (just click send and u/{{ to_name }} will PM you a one-time access code).

  Only challenge organisers, djudges, and participants can log in to view their personal info.
    <div>
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('xs', 2, 8)) }}
    </div>
  
{% endblock %}
