{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}



  {% block content %}

  Request your access code <a href={{ message_url }} target="_blank"> here </a> (just click send).
  
  <form method="post">
    <label for="user_name">Reddit user name</label>
    <input name="user_name" id="user_name" required>
    <label for="access_code">access code</label>
    <input name="access_code" id="access_code" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}
