{% extends 'base.html' %}
{% from "macros.html" import format_user  with context %}
{% from "macros.html" import format_sotd  with context %}
{% from "macros.html" import format_challenge %}

{% block title %}Brand usage stats for {{ challenge.title }} by day{% endblock %}
{% block header %}
<h1 id="top">Brand usage stats for  {{ format_challenge(challenge) }} by day</h1>

{% endblock %}


{% block content %}
  <article class="challenge">
    {% for title, statsgroup in brand_usage.items() %}
      {% set category_loop = loop %}
      <h2 href="#cat_{{ category_loop.index }}">{{ title }}</h2>
      <ol>
        {% for post in statsgroup %}
          {% set post_loop = loop %}
          <li><a href="#day_{{ category_loop.index }}_{{ post_loop.index }}"> {{ post.title }}  <a href="#top">(back to top)</a></a>
        {% endfor %}
      </ol>
    {% endfor %}
    {% for title, statsgroup in brand_usage.items() %}
      {% set category_loop = loop %}
      <h2 id="cat_{{ category_loop.index }}">{{ title }}</h2>
      {% for post, stats in statsgroup.items() %}
        {% set post_loop = loop %}
        <h3 id="day_{{ category_loop.index }}_{{ post_loop.index }}"> {{ post.title }}  <a href="#top">(back to top)</a></h3>
        <div = class="flex-container">
          {% for frequency, brands in stats.items() %}
            <div>
              <h4> {{ frequency }} Use{% if frequency > 1 %}s{%endif%}:</h4>
              <ol>
                {% for brand in brands %}
                  <li>{{ brand  }}</li>
                {% endfor %}
              </ol>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% endfor %}
  </article>
{% endblock %}
