{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block header %}
  <h1>{% block title %}New Challenge{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="challenge">
    <header>

    </header>
    <p class="body">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form) }}
        {{ form.csrf_token() }}


    </p>
  </article>
{% endblock %}
