{% extends 'base.html' %}
{% from "macros.html" import format_user  with context %}
{% from "macros.html" import format_sotd  with context %}
{% from "macros.html" import format_challenge %}

{% block title %}Tallies for  {{ challenge.title }}{% endblock %}
{% block header %}
<h1>Djudge Rankings  {{ format_challenge(challenge) }}</h1>

{% endblock %}


{% block content %}
<article class="challenge">
  <table style='font-size:80%' class="table">
    <tr class="table__header">
      {% for header in headings %}
      <th class="table__cell"><a href="{{ url_for('challenge.djudge_ranking', challenge_pk=challenge.pk, sort_column=header) }}">{{ header }}</a></th>
      {% endfor %}

    </tr>
    {% for row in rows %}
    <tr class="table__row">
      <td class="table__cell">
        {{ row[0] }} 
      </td class="table__cell">
      <td class="table__cell">
        {{ format_user(row[1]) }} 
      </td class="table__cell">
      <td class="table__cell">
        {{ "%.2f"|format(row[2]) }}%
      </td>
      <td class="table__cell">
        {{ "%.2f"|format(row[3]) }}
      </td>
    </tr>
    {% endfor %}
  </table>

  </article>
{% endblock %}
