{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block header %}
  <h1>{% block title %}Challenge {{challenge['name']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="challenge">
    <header>
      <div>
        <div class="about"> by {% for owner in challenge['owners'] %}u/{{ owner['user_name'] }}{% if not loop.last %}, {% endif %}{% endfor %}
      </div>
      {% if current_user.user_name in challenge.owners %}
        <a class="action" href="{{ url_for('challenge.update', pk=post['pk']) }}">Edit</a>
      {% endif %}
    </header>
    <div>
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('xs', 2, 8)) }}
        {{ form.csrf_token() }}


    </div>
  </article>
{% endblock %}
