{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Challenges{% endblock %}</h1>
{% endblock %}
{% block content %}
  {% for challenge in my_challenges %}
    <article class="post">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('challenge.view', id=challenge['pk']) }}">{{ challenge['name'] }}</a></h1>
          <div class="about"> by {% for owner in challenge['owners'] %}u/{{ owner['user_name'] }}{% if not loop.last %}
                   , 
          {% endif %}
             {% endfor %}</div>
        </div>
      </header>
      <p class="body">{{ challenge['title'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
