{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_post %}
{% from "macros.html" import format_challenge %}

{% block header %}
  <h1>{% block title %}Challenge '{{ challenge['title'] }}'{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="challenge">
    <header>
      <h2> Short Name: {{ challenge.name }} </h2>
      {% if challenge.start_date %}
        <p> Running from {{ challenge.start_date }} until {{ challenge.end_date }}.</p>
      {% endif %}
      {% if challenge.currently_active() %}
        <p> This challenge is active and collecting participants.</p>
      {% else %}
        <p> This challenge is in draft state.</p>
      {% endif %}
      <div>
        <div class="about"> by {% for owner in challenge['owners'] %}{{ format_user(owner) }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
      </div>
      <a href="{{ challenge.post_url }}" target="_blank">Original post</a>
    </header>
    <div style="padding: 10px; border: 2px solid black;">{{ challenge.description_markdown|safe }} </div>
    {% if challenge.current_post %}
    <div>
      <h3>Current Post:</h3>
      <a href="https://reddit.com{{ challenge.current_post.permalink }}" target="_blank"> {{ challenge.current_post.title }} </a>
    </div>
    {% endif %}
    <div>
      <h3> Categories Djudged: </h3>
      {% for title, category in challenge['categories'].items() %}
        <p><h4>{{ category }}</h4>
          {{ category.guidance_markdown|safe }}</p>
        {% endfor %}
    </div>
    <hr>


    {% if challenge.scavenger_hunts|length > 0 %}
      <div>
        <h3> Scavenger Hunts: </h3>
        {% for hunt in challenge.razor_scavenger_hunts %}
          <p><h4> Razor Scavenger Hunt {{ loop.index }}:</h4>
          <p>{{ hunt.weight }} points per hashtag, with a maximum of {{ hunt.max_score }} points.</p>
          <ol>
            {% for tag in hunt.tags %}

              <li> {{ tag.tag }} </li>
            {% endfor %}
          </ol>
        {% endfor %}
        {% for hunt in challenge.brush_scavenger_hunts %}
          <p><h4> Brush Scavenger Hunt {{ loop.index }}:</h4>
          <p>{{ hunt.weight }} points per hashtag, with a maximum of {{ hunt.max_score }} points.</p>
          <ol>
            {% for tag in hunt.tags %}

              <li> {{ tag.tag }} </li>
            {% endfor %}
          </ol>
        {% endfor %}
      </div>
      <hr>
    {% endif %}

    {% if challenge.sponsor_points|length > 0 %}
      <div>
        {% for sponsor_points in challenge.sponsor_points %}
          <p><h4> {{ sponsor_points.title }}:</h4>
          <p>{{ sponsor_points.weight }} points per sponsor, with a maximum of {{ sponsor_points.max_score }} points. {% if sponsor_points.property_name %} Only counted for SOTDs with property '{{ sponsor_points.property_name }}'.{% endif %}</p>
          <ol>
            {% for sponsor in sponsor_points.sponsors %}

              <li> {{ sponsor.name }} </li>
            {% endfor %}
          </ol>
        {% endfor %}
      </div>
      <hr>
    {% endif %}

    {% if challenge.analyses|length > 0 %}
      <h3> Rankings: </h3>
      <ol>
        {% for analysis in challenge.analyses %}
          {% if current_user.is_admin or current_user in challenge.djudges or current_user in challenge.owners %}
            <li>  <a href="{{ url_for('analysis.view', analysis_pk=analysis.pk, challenge_pk=challenge.pk) }}">{{ analysis.analysis_type }} </a> </li>
          {% else %}
            <li>  <a href="{{ url_for('analysis.public_view', analysis_pk=analysis.pk, challenge_pk=challenge.pk) }}">{{ analysis.analysis_type }} </a> </li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    {% if current_user.is_admin or current_user in challenge.djudges or current_user in challenge.owners %}
      {% if challenge.sotd_points_tallies|length > 0 %}
        <h3> Tallies: </h3>
    <p><a href="{{ url_for('tallies.tallies', challenge_pk=challenge.pk) }}"> Current tally of points </a></p>

    <p><a href="{{ url_for('challenge.djudge_ranking', challenge_pk=challenge.pk) }}"> Current ranking of djudges </a></p>
    <p><a href="{{ url_for('challenge.brands_stats', challenge_pk=challenge.pk) }}"> Brand usage </a></p>
    <p><a href="{{ url_for('challenge.brands_stats_by_day', challenge_pk=challenge.pk) }}"> Brand usage_by_day </a></p>
        <hr>
      {% endif %}
    {% endif %}
    {% if challenge.notes %}
      <h3> Notes: </h3>
      The following note categories have been applied to posts;
      <ol>
        {% for property_name, value in challenge.notes.items() %}
          <li> <a href="{{url_for('notes.view', note_category_pk=value[0].category_pk) }}">{{ value[0].title }}</a> </li>
        {% endfor%}
      </ol>
      <hr>
    {% endif %}
    {% if challenge.selection_tallies %}
      <h3> Selections: </h3>
      The following selections have been reviewed
      <ol>
        {% for title, template in challenge.selection_templates.items() %}
          {% if template.selected_sotd_associations() %}
            <li> <a href="{{url_for('djudgement.selection_view', template_pk=template.pk) }}">{{ title }}</a> </li>
          {% endif %}
        {% endfor%}
      </ol>
      <hr>
    {% endif %}


    <h3>Participants</h3>
    <ol>
      {% for participant in challenge['participants'] %}
        <li><a href="{{ url_for('sotd.view_sotds_for_user_in_challenge', user_pk=participant.pk, challenge_pk=challenge.pk) }}">Submissions</a> by {{ format_user(participant) }}
        </li>
      {% endfor %}
    </ol>
</div>
<div>
  <h3>Djudges</h3>
  <ol>
    {% for djudge in challenge['djudges'] %}
      <li>{{ format_user(djudge) }}</li>
    {% endfor %}
  </ol>
</div>
<div>
  <h3>Posts</h3>

  There are a total of {{ challenge.sotds|length }} SOTDs, or an average of {{ "%.2f"|format((challenge.sotds|length)/([1, challenge.posts|length]|max)) }} SOTDs per day.
  <ol>
    {% for post in challenge['posts'] %}
      <li>{{ format_post(post, challenge) }}</li>
    {% endfor %}
  </ol>
</div>
{% if current_user in challenge.djudges  and undjudged %}
  <div>
    <h3>Undjudged SOTDs</h3>
    {% for djudge, docket in undjudged.items() %}
      <h4> On the Hon. {{ format_user(djudge) }}'s docket</h4>
      <ol>
        {% for invitation in docket %}
          <li><a href="{{ url_for('sotd.view', pk=invitation.sotd.pk) }}"> Day {{ invitation.sotd.post.day_associations[invitation.challenge].day }}<a> of {{ format_challenge(invitation.challenge) }} by u/{{ invitation.sotd.author.user_name }} </li>
        {% endfor %}
      </ol>
    {% endfor %}
  </div>
{% endif %}
</article>
{% endblock %}
