{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_sotd_association with context %}
{% from "macros.html" import format_challenge %}

{% block title %} u/{{ user.user_name }}'s SOTDs for challenge '{{ challenge.title }}'{% endblock %}
{% block header %}
<h1> {{ format_user(user)}}'s SOTDs for challenge '{{ format_challenge(challenge) }}'</h1>

{% endblock %}


{% block content %}
<article class="challenge">
  {{ format_user(user) }} submitted {{ sotd_associations|length }} SOTDS.
  <ol>
      {% for sotd_assoc in sotd_associations %}
  <li>{{ format_sotd_association(sotd_assoc, True) }}</li>
  {% endfor %}
  </ol>
</article>
{% endblock %}
