{% extends 'base.html' %}
{% from "macros.html" import format_user  with context %}
{% from "macros.html" import format_sotd  with context %}
{% from "macros.html" import format_challenge %}

{% block title %}Tallies for  {{ challenge.title }}{% endblock %}
{% block header %}
<h1>Tallies for  {{ format_challenge(challenge) }}</h1>

{% endblock %}


{% block content %}
<article class="challenge">
  <table style='font-size:80%' class="table">
    <tr class="table__header">
      {% for header in headings %}
      <th class="table__cell"><a href="{{ url_for('tallies.tallies', challenge_pk=challenge.pk, sort_column=header) }}">{{ header }}</a></th>
      {% endfor %}

    </tr>
    {% for row in rows %}
    <tr class="table__row">
      <td class="table__cell">
        {{ row[0] }} 
      </td class="table__cell">
      <td class="table__cell">
        {{ format_user(row[1]) }} 
      </td class="table__cell">
      {% for cell in row[2] %}
      <td class="table__cell">
        {{ "%.2f"|format(cell) }}
      </td>
     {% endfor %}
    </tr>
    {% endfor %}
  </table>

<a  style="display: inline;"  href="{{ url_for('tallies.tallies_csv', challenge_pk=challenge.pk, sort_column=sort_column) }}">  Download these results as a .csv file.</a>
  </article>
{% endblock %}
