{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_challenge %}
{% from "macros.html" import format_sotd_association with context %}

{% block title %} Adjudication of u/{{ invitation.sotd.author.user_name }}'s {{ invitation.challenge.title }} submission for day {{ invitation.sotd.post.day_associations[invitation.challenge].day }} {% endblock %}
{% block header %}
  <h1>Adjudication of {{ format_user(invitation.sotd.author) }}'s {{ format_challenge(invitation.challenge) }} submission for day {{ invitation.sotd.post.day_associations[invitation.challenge].day }}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>Please re-read <a href="{{ url_for('challenge.view', id=invitation.challenge.pk)}}">the rules</a> of the challenge if you don't remember.</div>
        <div> Your are {{ "%.2f"|format(invitation.djudge.percentage_djudged) }}% done and have {{ invitation.djudge.docket|length }} djudgements left to do. </div>
      </header>

      {% if invitation.campaign %}
      <h3>Instructions for this djudgement campaign</h3>
      <p>{{ invitation.campaign.instructions_markdown|safe }}</p>
      {% endif %}
      <div>
        {{ format_sotd_association(invitation.sotd_association, True) }}
    </div>
      <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
      {% for cat in categories %}
      <div>
        {{ wtf.form_field(form[cat.title]) }}
      <p> {{ cat.guidance_markdown|safe }} </p>
      {% if not loop.last %}
      <hr>
      {% endif %}
      {% endfor %}

      {{ wtf.form_field(form.submit) }}
      {{ wtf.form_field(form.cancel) }}
      {{ form.csrf_token() }}
      </form>
    </article>
{% endblock %}
