{% extends 'base.html' %}
{% from "macros.html" import format_challenge %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_sotd_association with context %}
{% from "macros.html" import format_note with context %}

{% block title %} Selection '{{ template.title }}' for {{ template.challenge.title }} {% endblock %}
{% block header %}
  <h1>Selection '{{ template.title }}' for {{ format_challenge(template.challenge) }}</h1>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>The following SOTDs were selected:</div>
    </header>

    {% for sotd_association in template.selected_sotd_associations() %}
      {{ format_sotd_association(sotd_association) }}
    {% endfor %}

  </article>
{% endblock %}
