{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_post %}
{% from "macros.html" import format_sotd_association with context %}
{% from "macros.html" import format_challenge %}

{% block title %}Post '{{ post.title }}' of challenge '{{ challenge.title }}'{% endblock %}
{% block header %}
<h1>Post '{{ post.title }}' of challenge '{{ format_challenge(challenge) }}'</h1>

{% endblock %}


{% block content %}
<article class="challenge">
  <header ><a href="https://reddit.com{{ post.permalink }}" target="_blank"> Reddit post</a>
    </header>
  The number of participants is {{ sotd_associations|length }}
  <ol>
      {% for sotd_assoc in sotd_associations %}
  <li>{{ format_sotd_association(sotd_assoc, True) }}</li>
  {% endfor %}
  </ol>
</article>
{% endblock %}
