{% from "macros.html" import format_user %}
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}{% endblock %} - Djudge Portal</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>
  <h1><a href="{{ url_for('challenge.index') }}">Djudge Portal</a></h1>
  <ul>
    {% if current_user.is_authenticated %}
      <li><span>{% if current_user.docket %} You have open<a  style="display: inline;"  href="{{ url_for('djudgement.index', djudge_pk=current_user.pk) }}">djudgements!</a>{% endif %}&nbsp; logged in as {% if current_user.is_admin %}administrator{% else %}user{% endif %} {{ format_user(current_user) }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
